<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2016 Radial Commerce Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2016 Radial Commerce Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <Radial_Core>
            <version>0.9.1</version>
        </Radial_Core>
    </modules>
    <global>
        <models>
            <radial_core>
                <class>Radial_Core_Model</class>
		<resourceModel>radial_core_resource</resourceModel>
            </radial_core>
	    <radial_core_resource>
                <class>Radial_Core_Model_Resource</class>
                <entities>
                    <retryqueue>
                        <table>retryqueue</table>
                    </retryqueue>
                </entities>
            </radial_core_resource>
        </models>
	<resources>
            <radial_core_setup>
                <setup>
                    <module>Radial_Core</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </radial_core_setup>
        </resources>
        <helpers>
            <radial_core>
                <class>Radial_Core_Helper</class>
            </radial_core>
        </helpers>
        <blocks>
            <radial_core>
                <class>Radial_Core_Block</class>
            </radial_core>
        </blocks>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <radial_core_update_quote_session>
                        <class>Radial_Core_Model_Observer</class>
                        <method>checkQuoteForChanges</method>
                        <type>singleton</type>
                    </radial_core_update_quote_session>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <radial_core_address_discount_observer>
                        <class>radial_core/observer</class>
                        <method>handleSalesQuoteCollectTotalsAfter</method>
                    </radial_core_address_discount_observer>
                </observers>
            </sales_quote_collect_totals_after>
            <salesrule_validator_process>
                <observers>
                    <ebayenterprise_salesrule_discount_observer>
                        <class>radial_core/observer</class>
                        <method>handleSalesRuleValidatorProcess</method>
                    </ebayenterprise_salesrule_discount_observer>
                </observers>
            </salesrule_validator_process>
            <sales_order_place_before>
                <observers>
                    <radial_core_place_exchange_platform_order>
                        <class>radial_core/observer</class>
                        <method>processExchangePlatformOrder</method>
                        <type>singleton</type>
                    </radial_core_place_exchange_platform_order>
                </observers>
            </sales_order_place_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <radial_core_rollback_order_failuer>
                        <class>radial_core/observer</class>
                        <method>rollbackExchangePlatformOrder</method>
                        <type>singleton</type>
                    </radial_core_rollback_order_failuer>
                </observers>
            </sales_model_service_quote_submit_failure>
            <checkout_submit_all_after>
                <observers>
                    <radial_core_clear_session_quote>
                        <class>radial_core/observer</class>
                        <method>clearSession</method>
                        <type>singleton</type>
                    </radial_core_clear_session_quote>
                </observers>
            </checkout_submit_all_after>
            <ebayenterprise_order_create_ship_group>
                <observers>
                    <radial_core_order_create_ship_group_chargetype>
                        <type>model</type>
                        <class>Radial_Core_Model_Observer</class>
                        <method>handleShipGroupChargeType</method>
                    </radial_core_order_create_ship_group_chargetype>
                </observers>
            </ebayenterprise_order_create_ship_group>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Radial_Core after="Mage_Adminhtml">Radial_Core</Radial_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <radial_core>
                    <file>radial_core.xml</file>
                </radial_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <Radial_Core>
                    <files>
                        <default>Radial_Core.csv</default>
                    </files>
                </Radial_Core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <radial_core>
            <api>
                <key backend_model="adminhtml/system_config_backend_encrypted"/>
                <major_version>1</major_version>
                <minor_version>0</minor_version>
                <region>na</region>
                <xml_namespace><![CDATA[http://api.gsicommerce.com/schema/checkout/1.0]]></xml_namespace>
                <xsd_path><![CDATA[app/code/community/Radial/Core/xsd]]></xsd_path>
                <default_status_handlers>
                    <loud>
                        <alert_level>loud</alert_level>
                        <status>
                            <no_response>
                                <logger>warning</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>displayDefaultMessage</method>
                                </callback>
                            </no_response>
                            <server_error>
                                <logger>warning</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>displayDefaultMessage</method>
                                </callback>
                            </server_error>
                        </status>
                    </loud>
                    <silent>
                        <alert_level>silent</alert_level>
                        <status>
                            <no_response>
                                <logger>warning</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>returnEmpty</method>
                                </callback>
                            </no_response>
                            <server_error>
                                <logger>warning</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>returnEmpty</method>
                                </callback>
                            </server_error>
                            <client_error>
                                <logger>critical</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>throwException</method>
                                </callback>
                            </client_error>
                            <success>
                                <logger>info</logger>
                                <callback>
                                    <type>helper</type>
                                    <class>radial_core/api_action</class>
                                    <method>returnBody</method>
                                </callback>
                            </success>
                        </status>
                    </silent>
                </default_status_handlers>
                <test_connection_status_handlers>
                    <alert_level>silent</alert_level>
                    <status>
                        <no_response>
                            <logger>info</logger>
                            <callback>
                                <type>helper</type>
                                <class>radial_core/api_validator</class>
                                <method>returnInvalidHostnameResponse</method>
                            </callback>
                        </no_response>
                        <server_error>
                            <logger>info</logger>
                            <callback>
                                <type>helper</type>
                                <class>radial_core/api_validator</class>
                                <method>returnUnknownErrorResponse</method>
                            </callback>
                        </server_error>
                        <client_error>
                            <logger>info</logger>
                            <callback>
                                <type>helper</type>
                                <class>radial_core/api_validator</class>
                                <method>returnClientErrorResponse</method>
                            </callback>
                        </client_error>
                        <success>
                            <logger>info</logger>
                            <callback>
                                <type>helper</type>
                                <class>radial_core/api_validator</class>
                                <method>returnSuccessResponse</method>
                            </callback>
                        </success>
                    </status>
                </test_connection_status_handlers>
            </api>
            <service>
                <order>
                    <timeout>15</timeout>
                </order>
                <payment>
                    <timeout>17</timeout>
                </payment>
            </service>
            <shipping>
                <virtual_shipping_method_id>ANY_EMAIL</virtual_shipping_method_id>
                <virtual_shipping_method_description>E-mail Delivery</virtual_shipping_method_description>
            </shipping>
        </radial_core>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Radial_Core/>
            </modules>
        </suite>
    </phpunit>
    <crontab>
            <jobs>
                <radial_core_retry_sendevent>
                    <schedule><cron_expr>* * * * *</cron_expr></schedule>
                    <run><model>radial_core/risk_order::sendEvent</model></run>
                </radial_core_retry_sendevent>
            </jobs>
     </crontab>
</config>
