<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.radial.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <tabs>
        <radial translate="label" module="radial_core">
            <label>Radial</label>
            <sort_order>550</sort_order>
        </radial>
    </tabs>
    <sections>
        <radial_core translate="label" module="radial_core">
            <class>separator-top</class>
            <label>Payments, TDF, Fraud</label>
            <tab>radial</tab>
            <frontend_type>text</frontend_type>
            <sort_order>550</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <comment>Radial will provide these values</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <catalog_id translate="label comment">
                            <label>Catalog Id</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </catalog_id>
                        <client_id translate="label">
                            <label>Client Id</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client_id>
                        <store_id translate="label">
                            <label>Store Id</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </store_id>
                        <language_code translate="label">
                            <label>Store Language Code</label>
                            <comment><![CDATA[Must be a <a href="http://tools.ietf.org/html/bcp47">BCP47</a> valid language code, e.g. "en-us".]]></comment>
                            <sort_order>40</sort_order>
                            <frontend_type>text</frontend_type>
                            <backend_model>radial_core/system_config_backend_language_code</backend_model>
                            <validate>validate-language-code</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language_code>
                        <client_order_id_prefix translate="label">
                            <label>Order Id Prefix</label>
                            <sort_order>50</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client_order_id_prefix>
                        <client_customer_id_prefix translate="label">
                            <label>Customer Id Prefix</label>
                            <sort_order>60</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client_customer_id_prefix>
			<ptfinstalled translate="label">
                            <label>PTF Installed?</label>
                            <sort_order>61</sort_order>
                            <frontend_type>label</frontend_type>
                            <backend_model>radial_core/adminhtml_system_config_backend_pTFinstalled</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ptfinstalled>
                        <romxmlinstalled translate="label">
                            <label>ROM XML Configured?</label>
                            <sort_order>62</sort_order>
                            <frontend_type>label</frontend_type>
                            <backend_model>radial_core/adminhtml_system_config_backend_rOMxmlinstalled</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </romxmlinstalled>
                    </fields>
                </general>
                <api translate="label">
                    <label>Web Services</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <hostname translate="label">
                            <label>API Hostname</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hostname>
                        <key translate="label">
                            <label>API Key</label>
                            <sort_order>70</sort_order>
                            <frontend_type>obscure</frontend_type>
                            <validate>required-entry</validate>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                        <validate_api_connection translate="button_label">
                            <label/>
                            <sort_order>75</sort_order>
                            <button_label>Test API Connection</button_label>
                            <frontend_model>radial_core/system_config_testapiconnection</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </validate_api_connection>
                        <timeout translate="label">
                            <label>API Timeout</label>
                            <comment>Time in milliseconds</comment>
                            <sort_order>80</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </timeout>
                    </fields>
                </api>
            </groups>
        </radial_core>
    </sections>
</config>
